html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	background: darkred;
	min-height: 100vh;
	background: linear-gradient(135deg, #200122 0%,#6f0000 48%,#0f3443 100%);
	background-size:cover;
	align-items: center;
	justify-content: center;
}